.headline {
    font-weight: 300;
    font-size: 1.9rem;
    color: $mainBlue;

    @mixin atSmall {
        font-size: 2.875rem;
        
    }

    &__centered {
        text-align: center;
    }

    &__orange {
        color: $mainOrange;
    }

    &__small {
        font-size: 1.2rem;

        @mixin atSmall {
            font-size: 1.875rem;
        }
    }

    &__no_t_margin{
        margin-top: 0;
    }

    &__narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &__light {
        font-weight: 100;
    }

    &__b_margin_small {
        margin-bottom: .5em ;
    }

    &_b_margin_large {
        margin-bottom: 1.6em ;
    }
}