.row {
    
    @mixin clearfix;

    &__gutters {
        margin-right: -65px;
    }
    
    &__gutters_large {
        margin-right: -100px;
    }

    &__gutters > div {
        padding-right: 65px;
        box-sizing: border-box;
    }

    &__gutters_large > div {
        padding-right: 100px;
        box-sizing: border-box;
    }




    &__b_margin_until_medium{
        margin-bottom:1rem;
    }

    @mixin atMedium {
        &__b_margin_until_medium{
            margin-bottom: 0;
        }

        &__medium_4{
            float: left;
            width: 33.33%;
        }

        &__medium_4_larger{
            width: 37%;
        }

        &__medium-6{
            float:left;
            width: 50%;
        }
        
        &__medium_8{
            float: left;
            width: 66.66%;
        }

        &__medium_8_smaller{
            width: 63%;
        }
    }
}